@model IEnumerable<ProjetParking.Models.UserParking>

@{
    ViewBag.Title = "Profil";
}

<h5>Profil</h5>

<h1 class="h3 mb-3 text-gray-800">Statistiques</h1>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Parking visités</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NbParkingsVisitedUser</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-map-marker fa-2x text-gray-300" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Parking visités (Total tout utilisateur)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NbParkingsVisited</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-calculator fa-2x text-gray-300" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de Finders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.NbUsers</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-users fa-2x text-gray-300" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Classement Finders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.ClassementUser</div>
                    </div>
                    <div class="col-auto">
                        @if (ViewBag.ClassementUser == "1er")
                        {
                            <i class="fa fa-trophy fa-2x text-gold" aria-hidden="true"></i>
                        }
                        else if (ViewBag.ClassementUser == "2ème")
                        {
                            <i class="fa fa-trophy fa-2x text-argent" aria-hidden="true"></i>
                        }
                        else if (ViewBag.ClassementUser == "3ème")
                        {
                            <i class="fa fa-trophy fa-2x text-bronze" aria-hidden="true"></i>
                        }
                        else
                        {
                            <i class="fa fa-certificate fa-2x text-gray-300" aria-hidden="true"></i>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mes fréquentations</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
                <hr>
                Mes fréquentation par parkings.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Fréquentation globale des parkings</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
                <hr>
                Selectionnez un parking et un jour dans le calendrier pour afficher les données.
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/charts")
    <script type="text/javascript">
    </script>
}
